@font-face {
    font-family: OpenSans;
    src: url('/static/fonts/OpenSans-Regular.ttf');
}

@font-face {
    font-family: RobotoThin;
    src: url('https://fonts.googleapis.com/css?family=Roboto+Slab:100');
}

@font-face {
    font-family: Roboto;
    src: url('https://fonts.googleapis.com/css?family=Roboto+Slab');
}