@import "Variables";
@import "Mixins";
@import "Fonts";
@import "VueHeader";
@import "HeroMedia";
@import "CampaignRibbon";
@import "VueFooter";
@import "Product";
@import "ProductGallery";

* {
  margin: 0;
  padding: 0;

  list-style-type: none;

  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */

  font-family: 'Open Sans', sans-serif; 
}

// #app {
//     font-family: 'Avenir', Helvetica, Arial, sans-serif;
//     -webkit-font-smoothing: antialiased;
//     -moz-osx-font-smoothing: grayscale;
//     text-align: center;
//     color: #2c3e50;
//     margin-top: 60px;
//   }


